<div class="contact-information">
    <!-- Section Title Start -->
    <div class="section-title">
        <h3 class="wow fadeInUp">contact us</h3>
        <h2 class="text-anime-style-3" data-cursor="-opaque">Get in touch with us</h2>
        <p class="wow fadeInUp" data-wow-delay="0.2s">We'd love to hear from you! Whether you have questions, need support, or want to discuss a project, feel free to reach out. </p>
    </div>
    <!-- Section Title End -->
    <!-- Contact Info Body Start -->
    <div class="contact-info-body">
        <!-- Contact Info Box Start -->
        <div class="contact-info-box-1 wow fadeInUp" data-wow-delay="0.4s">
            <!-- Contact Info Item Start -->
            <div class="contact-info-item">
                <!-- Icon Box Start -->
                <div class="icon-box">
                    <img src="images/icon-phone-accent.svg" alt="">
                </div>
                <!-- Icon Box End -->
                <!-- Contact Item Content Start -->
                <div class="contact-item-content">
                    <h3>phone number</h3>
                    <p><a href="tel:+91123456789">+91 123 456 789</a></p>
                </div>
                <!-- Contact Item Content End -->
            </div>
            <!-- Contact Info Item End -->
            <!-- Contact Info Item Start -->
            <div class="contact-info-item">
                <!-- Icon Box Start -->
                <div class="icon-box">
                    <img src="images/icon-mail-accent.svg" alt="">
                </div>
                <!-- Icon Box End -->
                <!-- Contact Item Content Start -->
                <div class="contact-item-content">
                    <h3>email address</h3>
                    <p><a href="mailto:info@domainname.com">info@domainname.com</a></p>
                </div>
                <!-- Contact Item Content End -->
            </div>
            <!-- Contact Info Item End -->
        </div>
        <!-- Contact Info Box End -->
        <!-- Contact Info Box Start -->
        <div class="contact-info-box-2 wow fadeInUp" data-wow-delay="0.6s">
            <!-- Contact Info Item Start -->
            <div class="contact-info-item">
                <!-- Icon Box Start -->
                <div class="icon-box">
                    <img src="images/icon-location-accent.svg" alt="">
                </div>
                <!-- Icon Box End -->
                <!-- Contact Item Content Start -->
                <div class="contact-item-content">
                    <h3>Address</h3>
                    <p>123 Creative Lane London, SW1A 1AA United Kingdom</p>
                </div>
                <!-- Contact Item Content End -->
            </div>
            <!-- Contact Info Item End -->
        </div>
        <!-- Contact Info Box End -->
    </div>
    <!-- Contact Info Body End -->
</div>